@import "tailwindcss";
@import "./tokens.css";

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("./Inter-Medium.ttf") format("truetype");
}

:root {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@utility mt-surface-panel {
	@apply bg-surface-panel;
	@apply rounded;
	@apply text-text-primary;
}

html {
  @apply bg-surface-base;
}

body {
  @apply m-0 bg-surface-base text-text-primary antialiased;
}
